* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 0;
}

header {
    background: #111;
    color: white;
    text-align: center;
    padding: 60px 0;
}

.about {
     text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

section h2 {
    margin-bottom: 20px;
    color: #222;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #18626d;
    color:#333;
    padding:30px;
    width:300px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    transition:0.3s;
}

.card h3 {
    margin-bottom: 10px;
}

.contact p {
    margin: 8px 0;
}

.btn {
    display: inline-block;
    background: #394350;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #0c3d87;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}